
  <div class="wrapper">
    <div class="grid-box">
      <div class="card">
        <figure>
          <img src="img/web-00.png" alt="mainwebsite">
          <figurecaption></figurecaption>
        </figure>
      </div>
      <div class="card">
        <figure>
          <img src="img/web-01.png" alt="website">
          <figurecaption></figurecaption>
        </figure>
      </div><div class="card">
        <figure>
          <img src="img/web-02.png" alt="website">
          <figurecaption></figurecaption>
        </figure>
      </div><div class="card">
        <figure>
          <img src="img/web-03.png" alt="website">
          <figurecaption></figurecaption>
        </figure>
      </div><div class="card">
        <figure>
          <img src="img/web-04.png" alt="website">
          <figurecaption></figurecaption>
        </figure>
      </div><div class="card">
        <figure>
          <img src="img/web-05.png" alt="website">
          <figurecaption></figurecaption>
        </figure>
      </div>
    </div>
  </div>
